<h1>Tasks#show</h1>

<table class="table table-hover">
    <tr>
        <th>
            <% @task.id%>
        </th>
    </tr>
    <tr>
        <th>
            <% @task.description%>
        </th>
    </tr>
    <tr>
        <th>
            <% @task.created_at%>
        </th>
    </tr>
    <tr>
        <th>
            <% @task.updated_at%>
        </th>
    </tr>
</table>
